@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.firstPage{
    width: 100%;
}
.header{
    padding: 20px 0 20px 120px;

    background: #60AAEE;
}
.textheader{
    width: 120px;

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.textheader a{
    margin: 0;

    text-decoration: none;

    color: #fff;
}
.big-content{
    margin: 35px 0 0 120px;
    display: flex;
}
.item-1{
    width: 25%;
}
.address h1{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;

    color: #60AAEE;
}
.userAddress h4{
    margin: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #60AAEE;
}
.addressText{
    width: 92%;
    padding: 10px;

    border: 1px solid #2889CF;
    outline: none;
    border-radius: 5px;
}
.checkPayment{
    width: 18px;
    height: 18px;
    margin: 5px;

    background: #60AAEE;
    border-color: #60AAEE;
}
.checkPoint{
    font-size: 15px;

    color:  #60AAEE;
}
.userNumber h3{
    margin-bottom: 25px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color:  #60AAEE;
}
.userNumber input{
    width: 74%;
    border: none;
    outline: none;
}
.numberText{
    padding: 10px;

    border: 1px solid #2889CF;
    border-radius: 5px;
}
.transfer{
    margin-top: 55px;
}
.userName h3{
    margin-top: 25px;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;

    color:  #60AAEE;
}
.nameUser{
    width: 85%;
    padding: 10px;

    border: 1px solid #2889CF;
    outline: none;
    border-radius: 5px;
}
.modeTransfer h1{
    margin-top: 45px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #60AAEE;
}
.modeTransfer p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #60AAEE;
}
.dataTransfer input{
    margin: 15px 15px 15px 0;
    padding: 10px;

    border: 1px solid #D6D6D6;
    border-radius: 5px;
}
.item-2{
    margin: 0 25px;
    width: 27%;
    background: #F1FAFF;
    border-radius: 10px;
}
.modeWork h1{
    padding: 10px;
    margin: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #60AAEE;
}
.onFoot{
    width: 94%;
    display: flex;
    margin: 20px 10px;
    padding: 15px 25px;

    border: 1px solid #60AAEE;
    border-radius: 5px;
    background: #fff;
    outline: none;
}
.onFoot:active{
    background: #2889CF;
}
.onFoot:hover{
    background: #2889CF;
}
.walking{
    margin-right: 15px;
    font-size: 40px;
    color: #60AAEE;
}
.onFoot:hover .walking{
    color: #fff;
}
.onFootText{
    margin-left: 25px;
    text-align: left;
}
.onFootText h1{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}
.onFoot:hover .onFootText h1{
    color: #fff;
}
.onFootText p{
    margin: 0;
    font-size: 12px;
    color: #878787;
}
.onFoot:hover .onFootText p{
    color: #fff;
}
.onTruck{
    width: 94%;
    display: flex;
    margin: 20px 10px;
    padding: 15px 25px;

    border: 1px solid #60AAEE;
    border-radius: 5px;
    background: #fff;
    outline: none;
}
.onTruck:active{
    background: #2889CF;
}
.onTruck:hover{
    background: #2889CF;
}
.driving{
    font-size: 35px;
    color: #60AAEE;
}
.onFoot:hover .driving{
    color: #fff;
}
.onTruckText{
    margin-left: 15px;
    text-align: left;
}
.onTruckText h1{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}
.onTruck:hover .onTruckText h1{
    color: #fff;
}
.onTruckText p{
    margin: 0;
    font-size: 12px;
    color: #878787;
}
.onTruck:hover .onTruckText p{
    color: #fff;
}
.onCar{
    width: 94%;
    display: flex;
    margin: 20px 10px;
    padding: 15px 25px;

    border: 1px solid #60AAEE;
    border-radius: 5px;
    background: #fff;
    outline: none;
}
.onCar:active{
    background: #2889CF;
}
.onCar:hover{
    background: #2889CF;
}
.drive{
    font-size: 35px;
    color: #60AAEE;
}
.onFoot:hover .drive{
    color: #fff;
}
.onCarText{
    margin-left: 15px;
    text-align: left;
}
.onCarText h1{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}
.onCar:hover .onCarText h1{
    color: #fff;
}
.onCarText p{
    margin: 0;
    font-size: 12px;
    color: #878787;
}
.onCar:hover .onCarText p{
    color: #fff;
}
.product{
    margin-left: 20px;
}
.product h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;

    color: #60AAEE;
}
.typeProduct{
    display: block;
}
.typeProduct input{
    margin: 10px;
}
.typeProduct p{
    margin: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color:  #60AAEE;
}
.other{
    margin: 15px 20px;
}
.typeOther{
    width: 100%;
    height: 105px;

    outline: none;
    border: 1px solid #60AAEE;
    border-radius: 5px;
    background: #fff;
}
.checkSizeProduct{
    margin: 10px 0;
}
.sizeProduct{
    width: 18px;
    height: 18px;
}
.sizeProductText{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color:  #60AAEE;
}
.item-3{
    width: 25%;
    margin-left: 25px;
}
.sistemPay h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #60AAEE;
}
.sistemPay input{
    margin-right: 10px;
}
.sistemPay p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;

    color:  #60AAEE;
}
.verification h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #60AAEE;
}
.database p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;

    color: #373737;
}
.userPay h1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 33px;

    color: #373737;
}
.order{
    width: 350px;
    height: 50px;

    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    outline: none;

    background: #2889CF;
    border: 1px solid #2889CF;
    border-radius: 5px;
}
.userVer{
    display: flex;
    margin-top: 10px;
}
.userPay input{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.userPay p{
    width: 285px;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;

    text-align: left;
}
.confirm{
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    border: solid 2px #2889CF;
    border-radius: 5px;
}
.confirm h1{
    margin: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}
.confirm button{
    width: 100%;
    height: 25px;
    background: #2889CF;
    border: none;

    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}