@media screen and (max-width: 1352px){
    .big-content {
        margin: 35px 0 0 80px;
    }
}
@media screen and (max-width: 1292px){
    .big-content {
        margin: 35px 0 0 40px;
    }
}
@media screen and (max-width: 1252px){
    .item-1{
        width: 250px;
    }
    .addressText {
        width: 180px;
    }
    .userNumber input {
        width: 140px;
    }
    .allcheck{
        width: 180px;
    }
    .nameUser {
        width: 180px;
    }
    .modeTransfer h1 {
        font-size: 25px;
    }
    .dataTransfer input {
        width: 180px;
    }
    .item-2 {
        width: 300px;
    }
    .onFoot {
        width: 280px;
    }
    .walking {
        font-size: 30px;
    }
    .onFootText h1 {
        margin-top: -2px;
    }
    .onTruck {
        width: 280px;
    }
    .driving {
        font-size: 30px;
    }
    .onTruckText h1 {
        margin-top: -2px;
    }
    .drive {
        font-size: 30px;
    }
    .onCarText h1 {
        margin-top: -2px;
    }
    .onCar {
        width: 280px;
    }
    .other {
        margin: 15px 10px;
    }
    .typeOther {
        width: 269px;
    }
}
@media screen and (max-width: 1030px){
    .big-content{
        margin-left: 20px;
    }
    .item-3{
        margin-left: 5px;
    }
}
@media screen and (max-width: 1000px){
    .big-content {
        flex-wrap: wrap;
    }
    .item-1 {
        margin-left: 150px;
    }
    .item-3 {
        width: 80%;
        margin-left: 150px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 900px){
    .item-1 {
        margin-left: 100px;
    }
    .item-3 {
        width: 40%;
        margin-left: 100px;
    }
}
@media screen and (max-width: 800px){
    .item-1 {
        margin-left: 50px;
    }
    .item-3 {
        width: 60%;
        margin-left: 50px;
    }
}
@media screen and (max-width: 700px){
    .big-content{
        margin-left: 80px;
    }
    .item-1 {
        width: 300px;
    }
    .addressText {
        width: 270px;
    }
    .userNumber input {
        width: 230px;
    }
    .nameUser {
        width: 270px;
    }
}
@media screen and (max-width: 500px){
    .userPay h1 {
        font-size: 25px;
    }
    .order {
        width: 220px;
    }
    .userVer {
        width: 220px;
    }
    .userPay input {
        width: 25px;
    }
}
@media screen and (max-width: 440px){
    .big-content{
        margin-left: 20px;
    }
    .item-3{
        width: 60%;
    }
}
@media screen and (max-width: 380px){
    .item-1 {
        width: 250px;
    }
    .addressText {
        width: 180px;
    }
    .userNumber h3 {
        width: 220px;
    }
    .userNumber input {
        width: 140px;
    }
    .nameUser {
        width: 180px;
    }
    .item-2 {
        width: 250px;
    }
    .onFoot {
        width: 200px;
    }
    .onTruck {
        width: 200px;
    }
    .onCar {
        width: 200px;
    }
    .product {
        margin-left: 0;
    }
    .product h1 {
        font-size: 25px;
    }
    .typeProduct p {
        font-size: 15px;
    }
    .typeOther {
        width: 200px;
    }
    .item-3 {
        width: 100%;
        margin-left: 30px;
    }
    .sistemPay h1 {
        font-size: 25px;
    }
}
@media screen and (max-width: 320px){
    .header {
        padding: 20px 0 20px 30px;
    }
    .item-1 {
        margin-left: 0;
    }
    .item-2{
        margin: 0;
    }
    .item-3{
        margin-left: 0;
    }
}